* {
    margin: 0;
}
body {
    color: #D4A373;
    background-color: #FAEDCD;
}
/* Container */
.container {
    height: 55vh;
    width: 30vw;
    position: absolute;
    top: 25vh;
    left: 33vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Row */
.row {
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: space-evenly;
}
/* Button */
.btn {
    width: 33%;
    height: 100%;
    background-color: #CCD5AE;
    font-size: 5rem;
    border-radius: 5%;
    color: #FEFAE0;
}
.btn:hover {
    background-color: #E9EDC9;
    cursor: pointer;
}
.resetDiv {
    margin: 1rem;
    height: 2rem;
    width: 40%;
}
.resetBtn {
    background-color: #CCD5AE;
    color: #FEFAE0;
    border: none;
    height: auto;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 8%;
}
.resetBtn:hover {
    background-color: #E9EDC9;
    cursor: pointer;
}
/* Msg Box */
.msg {
    height: 20%;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 1rem 38rem;
}
.msg span {
    background-color: #CCD5AE;
    color: #FEFAE0;
    font-size: 2rem;
    font-weight: 700;
}
.hide {
    display: none;
}